---
    import Layout from '../../components/Layout/index.astro';
    const post = await Astro.glob('./post/*.md')
---

<Layout pageTitle='Mis publicaciones' pageDescription='Es una pagina para paginas web'> 
    <h1> Blog </h1>
    {
        post.map( (post) => (
            <a class="link" href={post.url}>{post.frontmatter.title}</a>
        ))
    }
    
    <img width="300px" src="https://images.pexels.com/photos/27439406/pexels-photo-27439406/free-photo-of-amanecer-relajacion-hotel-cama.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> 
    <img width="300px" src="/public/free-photo-of-amanecer-relajacion-hotel-cama.jpeg"> 

    <style>
        .link {
            color: wheat;
            background: black;
            text-decoration: none;
            display: block;
            margin: 5px;
        }
    </style>
</Layout>   