---
    interface Props { 
        title: string;
        content: string;
    }
    
    const { title, content }:Props = Astro.props;
---

<div class="card">
    <h1> { title }</h1>
    <p> { content } </p>
</div>

<style>
    .card {
        background-color: white;
        border-radius: 5px;
        color: #202020;
        box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0,0, 0, 0.2);
        padding: 20px;
        width: 300px;
        margin-bottom: 5px
    }
</style>