---
const title = 'Astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> Astro </title>
	</head>
	<body>
		<script>console.log({'hola': 'hola mundo'})</script>
		<h1> { title } </h1>

		<p> Welcome to Astro! </p>


	</body>
</html>